{% extends "main.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3 addPostDiv">
            <h3>Add a post</h3>
            <form action="/silex/add-post" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input autofocus type="text" class="form-control" name="name" id="name"
                           placeholder="Enter your name"
                           required>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Title of your post"
                           required>
                </div>
                <div class="form-group">
                    <label for="content">Post</label>
                    <textarea maxlength="254" class="form-control" name="content" id="content" placeholder="Write about something"
                              required rows="5"></textarea>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </form>
            <h3 class="text-info">
                {% if success is defined %}
                    {{ success }}
                {% endif %}
            </h3>
        </div>
    </div>
{% endblock %}
