{% extends "main.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <!--posts-->
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-danger">Oh-oh. Looks like something went wrong :(</h2>
        </div>
    </div>
{% endblock %}