<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

        {#custom js#}
        <script src="src/js/app.js"></script>

        {#custom css#}
        <link href="src/assets/custom.css" rel="stylesheet" type="text/css"/>
        <link href="src/assets/animista.css" rel="stylesheet" type="text/css"/>

        <title>{% block title %}
            {% endblock %} - Silex blog</title>
    {% endblock %}
</head>
<body>
<div class="container mainContent">
    <!--header-->
    <div class="row">
        <div class="col-md-12 header">
            <h1 class="headerHome">Silex</h1>
            <h5>A simple blog using <a href="https://silex.sensiolabs.org/">Silex</a> microframework.</h5>
            <hr>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12 text-center">
            <div class="allPostDivClick col-md-4">
                All posts
            </div>
            <div class="addPostDivClick col-md-4">
                Add post
            </div>
            <div class="infoClick col-md-4">
                Info
            </div>
        </div>
    </div>

    {% block content %}
        <div class="row text-center aboutthis">
            <hr>
            <div class="col-md-12">
                <p class="lead">
                    About this site
                </p>
                <p>
                    This website has been developed in Silex micro-framework by Genet Schneider as Thesis work.
                </p>
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>