{% extends "main.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <!--posts-->
    <div class="row">
        <div class="col-md-12 posts text-center">
            <hr>
            <h3 id="allPostsHeader">All posts</h3>
            {% if posts is defined %}
                {% for post in posts %}
                    <div class="onePost">
                        <h4 class="postTitle text-info">
                            {{ post.title }}
                        </h4>
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ post.content }}</p>
                            <footer class="blockquote-footer"><cite title="Source Title"><a href="/silex/user/{{post.name}}">{{ post.name }}</a></cite></footer>
                        </blockquote>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row text-center">
                <div class="col-md-12 text-center">
                    <div class="addPostDivClick">
                        Add post
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}