@-webkit-keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 transparent
    }
    100% {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)
    }
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 transparent
    }
    100% {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)
    }
}